a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: whitesmoke;
}

h1{
    font-family: monospace;
    font-size: 60px;
    color: blue;
    text-align: center;
}

h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: blue;
    text-align: center;
}

p{
    font-family: monospace;
    font-size: 20px;
    color: darkblue;
    text-align: center;   
}

img{
    border-radius: 160px 160px;
    
}
h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: yellow;
}
